.button {
    background-color: white;
    border: none;
    color: var(--bright-red);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 40px;
    width: 120px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}