.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 180px;
    justify-content: center;
    margin-top: 80px;
    margin-left: 192px;
    margin-right: 85px;
} 

.items {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    text-align: center;
    justify-content: center; 
    list-style: none;
    text-decoration: none;
    color: var(--dark-blue);
    margin-top: -10px;
    cursor: pointer;
}

.button {
    margin-top: -10px;
}
