.container {
    background-color: var(--bright-red);
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    width: 100vw;
    height: 180px;
    margin-top: 150px;
    align-items: center;
    column-gap: 880px;
    background-image: url("/images/bg-tablet-pattern -color.svg");
    background-size: 40rem;
    background-position: bottom 5rem right 10rem;
    background-repeat: space;

}

.title {
    color: white;
    width: 250px;
}

