html,
body {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam";
}

* {
  box-sizing: border-box;
}

:root {
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);
  --dark-grayish-blue: hsl(227, 12%, 61%);
  --Very--dark-blue: hsl(233, 12%, 13%);
  --Very-pale-red: hsl(13, 100%, 96%);
  --Vary-light-gray: hsl(0, 0%, 98%);
}

@font-face {
  font-family: "Be Vietnam";
  src: url("../public/fonts/Vietnam/BeVietnam-Bold.ttf");
  font-style: bold;
}

@font-face {
  font-family: "Be Vietnam";
  src: url("../public/fonts/Vietnam/BeVietnam-Regular.ttf");
  font-style: normal;
}
